# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb+srv://<valiantuser>:<valiantpassword123>@cluster0.xxxxx.mongodb.net/valiant?retryWrites=true&w=majority

# JWT Configuration
JWT_SECRET=valiant-api
JWT_EXPIRE=30d

# File Upload Configuration
UPLOAD_PATH=uploads/ 